*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif !important;
    height: 100svh;
    padding-top: 0.5rem;
}

.container-grid {
    display: grid;
    grid-template-rows: 0rem 2rem 0rem 4.5rem 0rem 2rem 0.6fr 0.5fr 0.7fr 0.9fr 1fr;
}

hr {
    border: 1px solid rgb(229, 229, 229);
}

.first-level {
    display: flex;
    font-size: 0.75rem;
    margin-inline: 3vw;
    align-items: center;
}

.left-section ul {
    display: flex;
    gap: 2rem;
    list-style: none;

    :not(li:first-of-type) a {
        color: rgb(17, 24, 32);
    }

    >li:first-child a {
        text-decoration: underline;
    }
}

.left-section ul li:nth-child(2) a:hover,
.left-section ul li:nth-child(3) a:hover {
    text-decoration: underline;
}

.left-section ul li a,
.right-section ul li a {
    text-decoration: none;
}

.right-section {
    margin-left: auto;

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        li a {
            color: rgb(51, 51, 51);
        }

        li:nth-child(2):hover {
            text-decoration: underline;
        }
    }

    ul>* {
        align-self: center;
    }
}

.ship-to>* {
    vertical-align: top;
}

.ship-to a:hover {
    color: rgb(51, 51, 255);
}

.ship-to>a img {
    width: 1.5rem;
    margin-right: 0.3rem;
}

.watchlist {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: rgb(51, 51, 51);
    height: 1.7rem;
    padding-inline: 0.5rem;

    >i {
        font-size: 0.9rem;
    }
}

.watchlist.active {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: rgb(51, 51, 51);
    outline: 1px solid rgb(229, 229, 229);
    border-bottom: none;
    background-color: white;
    height: 1.7rem;
    padding-inline: 0.5rem;
}

.watchlist-dropdown {
    display: none;
    transition: opacity 150ms ease-in-out, 150ms ease-in-out;
}

.watchlist-dropdown.active {
    display: block;
    position: absolute;
    border: 1px solid rgb(229, 229, 229);
    background-color: white;
    padding: 2rem 1.5rem;
    z-index: 100;
    inset: 1.6rem -0.03rem auto auto;
    width: max-content;

    p {
        font-weight: 700;
        font-size: 1rem;
        color: hsl(0, 0%, 40%);
    }
}

.my-ebay {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    gap: 0.2rem;
    color: rgb(51, 51, 51);

    >i {
        font-size: 0.9rem;
    }
}

.my-ebay-dropdown {
    display: none;
}

.my-ebay:hover {
    outline: 1px solid rgb(229, 229, 229);
    height: 1.7rem;

    .my-ebay-dropdown {
        display: block;
        position: absolute;
        inset: 1.6rem auto auto -0.05rem;
        z-index: 100;
        width: max-content;
        border: 1px solid rgb(229, 229, 229);
        background-color: white;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 5rem 1rem 1rem;
        }

        ul li {
            align-self: flex-start;
        }

        ul li a:hover {
            text-decoration: underline;
        }
    }
}

.bell {
    font-size: 1rem;
    position: relative;
    padding-inline: 0.5rem;
}

.bell-dropdown {
    display: none;
}

.bell:hover {
    padding-block: 0.27rem;
    background-color: white;
    outline: 1px solid rgb(229, 229, 229);

    .bell-dropdown {
        display: block;
        position: absolute;
        padding: 6rem;
        background-color: white;
        z-index: 100;
        outline: 1px solid rgb(229, 229, 229);
        inset: 1.6rem -0.02rem auto auto;

        p {
            width: 10rem;
            text-align: center;
        }

        p a {
            color: blue;
            text-decoration: underline;
        }
    }
}

.shopping-cart {
    position: relative;
    font-size: 1.25rem;
    padding-inline: 0.5rem;
}

.shopping-cart-dropdown {
    display: none;
}

.shopping-cart:hover {
    padding-block: 0.12rem;
    background-color: white;
    outline: 1px solid rgb(229, 229, 229);

    .shopping-cart-dropdown {
        display: block;
        z-index: 100;
        position: absolute;
        background-color: white;
        outline: 1px solid rgb(229, 229, 229);
        inset: 1.6rem -0.02rem auto auto;
        padding: 1.4rem 3rem 1.4rem 1rem;

        p {
            color: rgb(85, 85, 85);
        }

        p:nth-of-type(1) {
            font-size: 1.25rem;
            font-weight: 700;
            padding-bottom: 0.3rem;
            width: 12rem;
            text-align: left;
        }

        p:nth-of-type(2) {
            font-size: 0.8rem;
            font-weight: 500;
        }
    }

}

/* END OF FIRST LEVEL */

.second-level {
    display: grid;
    grid-template-columns: 1fr 0.7fr 6fr 1.5fr 0.5fr;
    align-items: center;
    margin-inline: 3vw;
}

.ebay-logo-div img {
    width: 7.5rem;
}

.shop-by-category-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    width: 5rem;
    margin-right: 0.5rem;

    >a {
        text-align: center;
        text-decoration: none;
        color: rgb(85, 85, 85);
    }

    >a:hover {
        color: rgb(51, 51, 255);
    }

    i {
        font-size: 1.5rem;
        color: rgb(51, 51, 51);
    }
}

.input-div {
    position: relative;
    display: flex;

    input {
        width: 100%;
        padding-left: 2.4em;
        font-size: 1rem;
        border-right: 1px solid rgb(85, 85, 85);
        border-top: 2px solid rgb(85, 85, 85);
        border-left: 2px solid rgb(85, 85, 85);
        border-bottom: 2px solid rgb(85, 85, 85);
    }
}

.input-div::before {
    content: url('/images/search.svg');
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    inset: 0.75rem auto auto 1rem;
}

.all-categories-div {
    border: 2px solid rgb(85, 85, 85);
    display: flex;
    align-items: center;
    padding-block: 1em;
    padding-inline: 1.2em;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    margin-left: -1px;
    border-left: none;

    p {
        white-space: nowrap;
        margin-right: 3rem;
    }

}

.search-button-div {
    margin-right: 0.5rem;

    button {
        width: 12rem;
        height: 2.6rem;
        background-color: rgb(54, 101, 243);
        color: white;
        border: none;
        padding-block: 0.656em;
        border-radius: none;
        cursor: pointer;
    }
}

.search-button-icon {
    display: none;
    height: 2.6rem;
    width: 100%;

    button {
        padding-inline: 1rem;
        border: none;
        height: 100%;
        width: 100%;
        background-color: rgb(54, 101, 243);

        i {
            font-size: 1.5rem;
            color: white !important;
        }
    }
}

.advanced-div {
    margin-left: auto;

    a {
        font-size: 0.688rem;
        text-decoration: none;
        color: rgb(85, 85, 85);
    }

    a:hover {
        color: rgb(51, 51, 255);
    }
}

/* END OF SECOND LEVEL */

.third-level {
    position: relative;
    border: 1px solid rgb(229, 229, 229);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
    font-size: 0.75rem;
    padding-inline: 7.5vw;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: rgb(85, 85, 85);
    }
}

.third-level a:hover {
    text-decoration: underline;
}

.third-level-dropdown {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 1fr) 4fr;
    width: 100vw;
    height: 56vh;
    padding-inline: 1vw;
    background-color: white;
    inset: 2rem auto auto auto;
    opacity: 0;

    div {
        padding: 1vw;
    }

    .category-p {
        border-bottom: 1px solid rgb(229, 229, 229);
        margin-bottom: 1rem;
        padding: 0.5rem 0 0.5rem 0;
    }

    .category-1 ul li,
    .category-2 ul li {
        list-style: none;
        padding-bottom: 1rem;
    }

    .category-image img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

.saved-flex {
    display: flex;
    align-items: center;
    gap: 0.37rem;

    >i {
        font-size: 0.65rem;
        color: rgb(85, 85, 85);
    }
}

.more {
    position: relative;
    display: none;

    .link-list {
        display: none;
        position: absolute;
        padding-block: 1rem;
        padding-inline: 1rem 4rem;
        inset: 1.9rem 0rem auto auto;
        background-color: white;

        ul li {
            list-style: none;
            line-height: 2.5;
        }
    }
}

.more:hover {
    .link-list {
        display: block;
    }
}

/* END OF THIRD LEVEL */

.fourth-level {
    display: grid;
    gap: 1rem;
    grid-template-columns: 17rem repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 10rem);
    padding-inline-start: 3rem;
    padding-top: 1rem;
    font-family: "Market Sans", Arial, sans-serif;
    background-color: #fbcd25;
}

.section-2 {
    grid-row: span 2;
}

.section-3 {
    grid-row: span 2;
}

.section-4 {
    grid-row: span 2;
}

.section-1-inner-grid {
    display: grid;
    gap: 1.5rem;
    height: 60%;
}

.question>p {
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(89, 46, 19);
}

.text>p {
    font-size: 1.063rem;
    color: rgb(89, 46, 19);
}

.button-collectible {
    font-size: 1rem;
    width: 11.5rem;
    padding-block: 0.6em;
    border: 1px solid #592e13;
    background-color: #fbcd25;
    color: rgb(89, 46, 19);
    transition: background-color 150ms ease-in-out;
}

.button-collectible:hover {
    background-color: #592e13;
    color: #fbcd25;
    cursor: pointer;
}

.section-2,
.section-3,
.section-4 {
    justify-self: center;
    align-self: center;
}

.section-2 a img,
.section-3 a img,
.section-4 a img {
    max-width: 100%;
    height: 100%;
}

/* END OF FOURTH LEVEL */

.fifth-level {
    margin-top: 3rem;
    padding-inline: 3rem;
    font-family: "Market Sans", Arial, sans-serif;

    >p {
        font-weight: 700;
        font-size: 1.5rem;
        padding-bottom: 1.7rem;
    }
}

.category-grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;

    div:has(img) {
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    div:has(img, a):hover {
        img {
            outline: 1px solid #ccc;
        }

        a {
            text-decoration: underline;
        }
    }

    img {
        width: 100%;
        border-radius: 50%;
    }

    a {
        font-size: 0.875rem;
        text-align: center;
        text-decoration: none;
        color: rgb(51, 51, 51);
    }
}

/* END OF FIFTH LEVEL */

.sixth-level {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    padding-inline: 3rem;
    margin-top: 5rem;
}

.daily-deal-flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: center;
    padding-bottom: 2rem;

    a {
        text-decoration: none;
        color: rgb(17, 24, 32);
        font-family: "Market Sans", Arial, sans-serif;
    }

    a:hover {
        text-decoration: underline;
    }

    >div a {
        font-size: 1.25rem;
    }

    >a {
        font-size: 1.5rem;
    }

    >div {
        padding-left: 1rem;
        border-left: 2px solid rgb(238, 238, 238);
    }
}

.arrow-right {
    padding-left: 0.3rem;
}

.sixth-level-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(15, 15%);
    align-self: center;
    overflow-x: auto;

    img {
        max-width: 100%;
        height: auto;
    }

    div:not(.link) {
        display: grid;
        gap: 1rem;
        grid-auto-flow: row;
        height: 100%;

        img {
            align-self: center;
        }
    }
}

.link {
    align-self: end;
    line-height: 1.5;

    >a {
        display: block;
        text-decoration: none;
        font-weight: 700;
        color: rgb(17, 24, 32);
    }
}

.link:hover {
    text-decoration: underline;
}

.second-link {
    font-size: 0.75rem;
    font-weight: 600 !important;
    color: rgb(112, 112, 112) !important;
}

/* END OF SIXTH LEVEL */

.seventh-level {
    display: grid;
    gap: 3.9rem;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 0.8fr;
    padding-inline-start: 3rem;
    padding-top: 1rem;
    margin-top: 4rem;
    background-color: #f8f8f8;
    font-family: "Market Sans", Arial, sans-serif;
    border-bottom: 1px solid #ccc;
}

.first-part {
    display: grid;
    grid-template-rows: repeat(3, 5rem);
    color: rgb(24, 24, 24);

    p:first-of-type {
        font-size: clamp(1.5rem, 2.5vw + 0.7rem, 2.25rem);
        font-weight: 700;
        align-self: center;
    }

    p:nth-last-child(2) {
        font-size: 1.063rem;
        align-self: center;
    }

    button {
        font-size: 1rem;
        width: 90%;
        height: 58%;
        background-color: transparent;
        border: 1px solid rgb(24, 24, 24);
        align-self: center;
        transition: background-color 150ms ease-in-out;

        i {
            padding-left: 0.3rem;
        }
    }

    button:hover {
        background-color: rgb(51, 51, 51);
        color: white;
        cursor: pointer;
    }
}

.second-part-image {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;

    img {
        max-width: 100%;
        height: 100%;
    }
}

/* END OF SEVENTH LEVEL */

footer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) 50px;
    padding-inline: 3rem;
    margin-top: 3rem;
    font-size: 0.75rem;
    color: rgb(118, 118, 118);

    li {
        list-style: none;
    }

    div li a {
        color: rgb(118, 118, 118);
        text-decoration: none;
    }

    div li a:hover {
        text-decoration: underline;
    }
}

.buy ul>li:first-child,
.sells ul>li:first-child,
.tools-and-apps>p,
.stay-connected>p,
.about-ebay ul>li:first-child,
.help-and-contact ul>li:first-child,
.community ul>li:first-child,
.ebay-sites>p {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
}

.buy ul> :not(li:first-child),
.sells ul> :not(li:first-child),
.tools-and-apps> :not(p),
.stay-connected> :not(p),
.about-ebay ul> :not(li:first-child),
.help-and-contact ul> :not(li:first-child),
.community ul> :not(li:first-child),
.ebay-sites> :not(p) {
    line-height: 2;
}

.buy {
    grid-row: span 2;
}

.tools-and-apps {
    grid-row: 2;
    grid-column: 2;
    padding-top: 1rem;
}

.stay-connected {
    grid-row: span 2;
}

.about-ebay {
    grid-row: span 2;
}

.ebay-sites {
    grid-row: 3;
    grid-column: 5;
    padding-top: 1rem;
}

.foot-statement {
    grid-row: 4;
    grid-column: span 5;
}

.foot-statement a {
    color: rgb(118, 118, 118);
}

.states {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    width: 9.4rem;
    height: 2rem;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);

    a {
        text-decoration: none;
        color: rgb(118, 118, 118);
    }
}

.shortcut-links {
    display: none;

    ul {
        display: flex;
        gap: 1.5rem;

        li a {
            text-decoration: none;
            color: rgb(118, 118, 118);
        }
    }
}

@media screen and (max-width: 1200px) {
    .first-level {
        padding-inline: 1vw;
    }

    .second-level {
        padding-inline: 1vw;
    }

    .third-level {
        padding-inline: 2vw;
    }
}

@media screen and (max-width: 1070px) {
    .third-level {
        padding-inline: 5vw;
    }

    .deals,
    .sell {
        display: none;
    }

    .more {
        display: block;
        display: flex;
        align-items: center;
        gap: 0.15rem;

        >i {
            margin-block: auto;
            padding-top: 0.2rem;
            font-size: 1.5rem;
            color: rgb(85, 85, 85);
        }

        .sports-dropdown-link,
        .health-dropdown-link,
        .industrial-dropdown-link,
        .home-dropdown-link {
            display: none;
        }
    }
}

@media screen and (max-width: 1060px) {
    .garden {
        display: none;
    }

    .home-dropdown-link {
        display: block !important;
    }
}

@media screen and (max-width: 1020px) {
    .container-grid {
        display: grid;
        grid-template-rows: 0rem 2rem 0rem 4.5rem 0rem 2rem 0.6fr 0.5fr 0.7fr 0.9fr 0.5fr;
    }

    .ship-to a:last-child {
        display: none;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2rem;
    }

    .buy,
    .sells,
    .tools-and-apps,
    .stay-connected,
    .about-ebay,
    .help-and-contact,
    .community,
    .ebay-sites {
        display: none;
    }

    .shortcut-links {
        display: block;
        width: 100%;

        ul {
            row-gap: 0.5rem;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 1000px) {
    .right-section ul {
        justify-content: space-between;

        li:nth-of-type(3) {
            display: none;
        }
    }
}

@media screen and (max-width: 980px) {
    .seventh-level {
        gap: 0;
        grid-template-rows: 0.3fr 1fr;
    }

    .first-part {
        grid-template-rows: repeat(3, 3rem);
        grid-row: 1;
        grid-column: span 2;

        button {
            width: 15rem;
            height: 2.5rem;
        }
    }

    .second-part-image {
        grid-column: span 2;
    }

    .advanced-div {
        display: none;
    }

    .second-level {
        grid-template-columns: 1fr 0.7fr 6fr repeat(4, 0.5fr);
    }

    .input-div {
        grid-column: span 2;
    }

    .search-button-div {
        width: 100%;
        grid-column: span 3;

        button {
            width: 100%;
        }
    }

    .sixth-level-grid {
        grid-template-columns: repeat(15, 20%);
        height: 100%;
    }
}

@media screen and (max-width: 960px) {
    .industrial {
        display: none;
    }

    .fourth-level {
        grid-template-columns: 17rem 0.4fr 0.5fr;
        grid-template-rows: repeat(2, 10rem);
    }

    .section-2 {
        grid-row: 1;
        grid-column: 3;

        a img {
            max-width: 40%;
            height: 100%;
        }
    }

    .section-3 {
        grid-row: 2;
        grid-column: 3;

        a img {
            max-width: 40%;
            height: 100%;
        }
    }

    .section-4 {
        a img {
            max-width: 80%;
            height: 100%;
        }
    }

    .industrial-dropdown-link {
        display: block !important;
    }
}

@media screen and (max-width: 819px) {
    .health {
        display: none;
    }

    .health-dropdown-link {
        display: block !important;
    }
}

@media screen and (max-width: 800px) {
    .third-level-dropdown {
        display: none;
    }

    .fourth-level {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr) !important;
        grid-template-rows: 10rem 38% !important;
        height: 90% !important;
    }

    .section-2 {
        grid-row: 2 !important;
        grid-column: 3 !important;
        width: 100%;
        height: 100%;

        a img {
            max-width: 100% !important;
            height: 100% !important;
        }
    }

    .section-1-inner-grid {
        height: 100%;
    }

    .section-1 {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .section-3 {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        height: 100%;

        a img {
            max-width: 100% !important;
            height: 100% !important;
        }
    }

    .section-4 {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        height: 100%;

        a img {
            max-width: 100% !important;
            height: 100% !important;
        }
    }

    .button-collectible {
        width: 11.5rem !important;
    }

    .question>p {
        font-size: clamp(1rem, 2.5vw + 0.7rem, 2.25rem);
    }

    .fifth-level {
        margin-top: 0;
    }

    .category-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .tire {
        grid-column: span 2;
    }

    .trading-cards {
        grid-row: 1;
        grid-column: 3 / span 2;
    }

    .preloved-luxury {
        grid-row: 1;
        grid-column: 5 / span 2;
    }

    .sneakers {
        grid-row: 1;
        grid-column: 7 / span 2;
    }

    .watches {
        grid-row: 2;
        grid-column: 2 / span 2;
    }

    .handbags {
        grid-row: 2;
        grid-column: 4 / span 2;
    }

    .start-selling {
        grid-row: 2;
        grid-column: 6 / span 2;
    }

    .sixth-level-grid {
        grid-template-columns: repeat(15, 20%);
        height: 100%;
    }
}

@media screen and (max-width: 780px) {
    .second-level {
        grid-template-columns: 1fr 0.7fr 6fr 0.5fr;
    }

    .ebay-logo-div {
        padding-right: 0.5rem;
    }

    .shop-by-category-div,
    .search-button-div {
        display: none;
    }

    .search-button-icon {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .sports {
        display: none;
    }

    .left-section ul li:nth-of-type(2),
    .left-section ul li:nth-of-type(3) {
        display: none;
    }

    .sports-dropdown-link {
        display: block !important;
    }
}

@media screen and (max-width: 500px) {
    .collectibles {
        display: none;
    }
}